body{
    font-family: 'Poppins', sans-serif; 
 
}
#nt{
    color: #003c62;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
#nt:hover{
    color:#003c62c9;
}

#login-form{
    margin-top: 5em;
}
.card-title{
    color:#003c62;
    font-weight: 700;
}
#log-in{
    background-color: #003c62;
    border:#003c62;
    color:#fff;
}
#log-in:hover{
    background-color: #003c62a9;
}

#login-button{
    background-color: #003c62;
    border:#003c62;
    color:#fff;
    width:100%;
}
#login-button:hover{
    background-color:#003c62a9 ;
}
.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width:100%;
    color:#fff;
}