<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ problem.head }}</title>
</head>
<body>
    <h2>{{problem.head}}</h2>
    <h3>{{problem.title}}</h3>
    <h6>{{problem.description}}</h6>
    <p>{{problem.objective}}</p>
    <p>{{problem.task}}</p>
    <pre>{{problem.input_content}}</pre>
    <pre>{{problem.output_content}}</pre>
</body>
</html>