<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if accepted_submission %}
        <h1>{{ accepted_submission.problem.title }}</h1>
        <div>
            <pre>{{ code }}</pre>
        </div>
        <div>
            <p>{{ accepted_submission.teachers_remarks }}</p>
        </div>
    {% endif %}
</body>
</html>