<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
</head>
<body>
    {% if problems %}
        {% for i in problems %}
            <h3>{{i.title}}</h3>
            <h5>{{i.description}}</h5>
            <div>
                {% if i.status %}
                    <h5>COMPLETE</h5>
                {% else %}
                    <h5>Due</h5>
                {% endif %} 
                <a href="all/{{i.id}}">Solve</a>
            </div>
            <form action="{{i.id}}" method="POST">
                {% csrf_token %}
                <button type="submit">Assign</button>
            </form>
        {% endfor %}
    {% endif %}
    
</body>
</html>