<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
</head>
<body>
    <div>
        <h3>{{submission.problem.title}}</h3>
    </div>
    <div>
        <h4>Submmited By: {{submission.author.email}}</h4>
    </div>
    <div>
        <h5>{{i.description}}</h5>
    </div>
    <pre>
        {{code}}
    </pre>
    <a href="{{i.id}}">Check</a>
    
</body>
</html>